# Variáveis de conexão com o banco de dados (Mude com suas credenciais)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=altave
MYSQL_PASSWORD=123456
MYSQL_DATABASE=test

# Define senha de Admin para o banco
MYSQL_ROOT_PASSWORD=123456

# Define se o ambiente é de produção ou desenvolvimento
production=false

# Segredo (mínimo 32 caracteres aleatórios) usado para assinar as sessões.
SESSION_SECRET="gere-um-segredo-aleatorio-com-ao-menos-32-caracteres"

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma7.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Mude a connection string de acordo com as credenciais que você já mudou
DATABASE_URL="mysql://altave:123456@localhost:3306/test"